.about-container{
    background-image: url("../images/bg-about.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden !important;
    z-index: 2;
}

.about-hero{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center !important;
    width: 70%;
    height: 70%;
    margin: 0 auto;
}

.team-photo-container{
    margin-left: 5em;
    margin-bottom: 15em;
}

.about-team-row{
    width: 70%;
    margin-left: 5em;
}

.hue-filter{
    object-fit: cover;
    width: 100%;
}

.about-info{
    display: flex;
    align-items: center;
    margin-left: 3em;
}

.about-section{
    margin: 8em 0 10em !important;
}

.top-about-container{
    position: relative;
    display: flex;
    align-items: center;
    text-align: end;
}

.top-about{
    width: 52%;        
    justify-content: center !important;    
    position: absolute;
    right: 10%;
}


.bottom-about-container{
    position: relative;
    display: flex;
    align-items: center;
    text-align: start;
}

.bottom-about{
    width: 60%;        
    justify-content: center !important;    
    position: absolute;
    left: 10%;
}


@media screen and (max-width: 575.98px) {
    .about-team-row{
        width: 90%;
        margin-left: 0;
        margin: auto;
    }

    .about-hero{
        width: 85%;
    }
    .team-photo-container{
        margin: 0;
        text-align: center;
    }

    .about-info{
        margin-left: 0;
    }

    .about-info-content{
        padding: 1em;
        margin: 5em 0 10em;
    }
}

@media screen and (min-width: 1900px) {
    .about-hero{
        height: 80%;
    }
}



/* VALUES PAGE */

.values-section{
    background-image: url("../images/bg-values.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden !important;
    z-index: 2;
}
.values-wrapper{
    margin-bottom: 15em !important;
}

.values-container{
    height: auto;
}

.values-logo{
    margin-top: -2em;
    padding: 2em 2em;
}

.values-border {
    border: double 1em transparent;
    border-radius: 40px;
    background-image: linear-gradient(white, white), 
                       linear-gradient(180.74deg, #80D0E5 -5.46%, #3E61AC 96.76%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-width: 3px;
    position: relative;
    height: auto;
}

.values-number{
    margin-top: -35%;
    padding: 3em 2em;   
}

.values-content{
    /* display: flex; */
    flex: 1;
    flex-wrap: wrap;
    align-items: end;
    margin-top: 1em;
    text-align: center;
    justify-content: center;
    height: auto;
}

.values-image{
    /* height: 10em; */
    object-fit: contain;
    width: 75%;
}

.values-number-image{
    max-width: 70%;
}

@media screen and (max-width: 575.98px) {
    .values-container{
        margin-bottom: 6em;
    }
    
    .values-number{
        margin-top: -32%;
        padding: 3em 3em;   
    }
    .values-image{
        width: 30vw;
        margin-bottom: 2em;
        /* object-fit: contain; */
    }

    .values-border {
        width: 65vw;
        height: auto;
        margin: auto;
    }

    .values-content{
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 2em;
        text-align: center;
        justify-content: center;
        height: auto;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px) {

    .values-container{
        margin-bottom: 2em;
    }
    .values-number{
        margin-top: -25%;
        padding: 3em 3em;   
    }
    .values-image{
        width: 30vw;
        margin-bottom: 3em;
        /* object-fit: contain; */
    }

    .values-border {
        width: 60vw;
        height: auto;
        margin: auto;
    }

    .values-content{
        flex: 1;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 2em;
        text-align: center;
        justify-content: center;
        height: auto;
    }
}
@media screen and (min-width: 767px) and (max-width: 991px) {
    .values-container{
        margin-bottom: 8em;
    }
    .values-number{
        margin-top: -25%;
        padding: 3em 3em;   
    }
    .values-image{
        width: 40vw;
        margin-bottom: 3em;
    }

    .values-border {
        width: 60vw;
        height: auto;
        margin: auto;
    }

    .values-content{
        flex: 1;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 2em;
        text-align: center;
        justify-content: center;
        height: auto;
    }
}
@media screen and (min-width: 992px) and (max-width: 1399px) {
    
    .values-border {
        width: 15vw;
        height: auto;
    }
    .values-number{
        margin-top: -30%;
        padding: 2em 2em;   
    }
    .values-image{
        height: 6em;
        object-fit: contain;
        width: 100%;
    }
}

@media screen and (min-width: 1600px) and (max-width: 1899px) {
    .values-image{
        object-fit: contain;
        width: 90%;
    }
}

@media (min-width: 1900px) {
    .values-number{
        margin-top: -25%;
        padding: 3em 2em;   
    }

    .values-image{        
        object-fit: contain;
        height: 100%; 
    }
}